
//Светлая тема
// :root {
//     --primary-color: #F00;
//     --primary-hover: #EC0000;
//     --white-color: #fff;
//     --secondary-color: #282828;
//     --btn-secondary-color: rgba(0, 0, 0, 0.03);
//     --btn-secondary-outline-background: #F8F7F5;
//     --btn-secondary-outline-color: #4D4D4D;
//     --btn-secondary-outline-hover: #E9E9E9;
//     --border-color: #E2E2E2;
//     --main-background: #F5F5F5;
//     --main-background-windows: #fff;
//     --color-prev-hover: #EEE;
//     --link-color-hover: #8B8B8B;
//     --footer-text-color: #B0B0B0;
//     --rating-color: #E6E6E6;
//     --logo-desctop: url('../img/logo_alt.svg');
//     --logo-mobile: url('../img/min-logo.svg');
//     --color-sitebar-text: #595959;
//     --text-color-dop: #ACABAB;
//     --bs-breadcrumb-divider: "-";
//     --bs-body-font-family: "Roboto", sans-serif !important;
// }

*{
	font-family: "Roboto", sans-serif !important;
    box-sizing: border-box;
    line-height: 1.5;
}

.ellipsis {
    white-space: nowrap;         /* Не переносить текст */
    overflow: hidden;            /* Скрыть выходящее за пределы */
    text-overflow: ellipsis;     /* Показать многоточие */
}

img {
    width: auto;
    max-width: 100%;
    height: auto !important;
}

.d-col-basket {
    position: relative;
    overflow: hidden;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
    max-height: 700px;
    height: 70vh;
    background: #fff;

    /* УДАЛИТЬ! */
    width: 350px;
}

.d-col-basket .h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #282828;
}

.d-col-basket .basket-clear-btn {
    font-size: 14px;
    font-weight: 400;
    color: #ACABAB;
    cursor: pointer;
}

.dart-btn-primary {
    background: #F00;
    color: #fff;
    position: relative;
}

.dart-btn-primary:hover{
    background: #EC0000;
    color: #fff;
}

.dart-btn {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 15px 24px;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.btn-arrange {
    width: 100%;
    margin-top: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.d-col-basket .basket-container {
    height: calc(100% - 100px);
    overflow-y: auto;
    padding-bottom: 6px;
}


.d-col-basket .basket-container__adres {
    font-size: 12px;
    padding: 4px 8px;
    color: #fff;
    border-radius: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 8px;
}

.d-col-basket .basket-container__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

.d-col-basket .basket-container__card {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.d-col-basket .basket-container__img {
    width: 60px;
    object-fit: contain;
}

.d-col-basket .basket-container__info {
    width: calc(100% - 68px);
}

.d-col-basket .basket-container__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.d-col-basket .basket-container__title a {
    text-decoration: none;
    line-height: 1.1;
    width: calc(100% - 24px);
    margin-bottom: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

a{
    color: #282828;
}

a:hover {
    color: #FF0000;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.d-col-basket .basket-container__title a {
    text-decoration: none;
    line-height: 1.1;
    width: calc(100% - 24px);
    margin-bottom: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.btn-close {
    cursor: pointer;
    background: #595959;
    opacity: 0.3;
    color: #fff !important;
    width: 24px !important;
    height: 24px !important;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0;
    position: relative;
}

.btn-close::before {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    color: #FFF;
    position: absolute;
    content: "";
    width: 30%;
    height: 30%;
    background-repeat: no-repeat;
}

.btn-close:hover {
    background: #595959;
    opacity: 0.5;
}

.d-col-basket .basket-container__article {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 6px 0 3px 0;
    color: #ACABAB;
}

.d-col-basket .basket-container__count {
    gap: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: flex;
}

.d-col-basket .basket-container__count p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #ACABAB;
}

.d-col-basket .basket-container__count p span {
    color: #282828;
}

.d-col-basket .basket-container__price {
    margin-top: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* .dart-quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 86px;
    height: 34px;
    font-size: 16px;
    border-radius: 5px;
    background: var(--btn-secondary-outline-background);
} */

.product-price-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 12px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.product-price-order p {
    font-weight: 600;
    font-size: 16px;
}

hr {
    color: #E2E2E2;
    opacity: 1;
    border: 0;
    margin: 1rem 0;
    border-top: 1px solid;
}

.basket-container{
    &::-webkit-scrollbar {
        width: 0px;
        background-color: #f9f9fd;
    }
}

.basket-container hr:last-child {
    display: none;
}

.dot-loader-none{
    opacity: 1;
    transition: all 0.4s;
}

.dart-btn-primary.loading{
    cursor: not-allowed;
    opacity: 1;

    .dot-loader-none{
        opacity: 0;
    }
}

.dot-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.dart-btn-primary.loading .dot-loader {
    display: flex;
    gap: 4px;
}

.dot-loader span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: currentColor;
    animation: dot-pulse 1.4s infinite ease-in-out both;
}

.dot-loader span:nth-child(1) {
    animation-delay: -0.32s;
}

.dot-loader span:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes dot-pulse {
    0%, 100% {
        transform: scale(0.6);
        opacity: 0.4;
      }
      50% {
        transform: scale(1);
        opacity: 1;
      }
}

.d-col-basket .basket-empty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.d-col-basket .basket-empty__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.d-col-basket .basket-empty__content .h3 {
    margin-top: 24px;
    max-width: 200px;
    text-align: center;
}

.d-col-basket .h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}

.d-col-basket.loading{
    position: relative;

    .dot-loader {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
    
    .dot-loader {
        display: flex;
        gap: 4px;
    }
    
    .dot-loader span {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #F00;
        animation: dot-pulse 1.4s infinite ease-in-out both;
    }
    
    .dot-loader span:nth-child(1) {
        animation-delay: -0.32s;
    }
    
    .dot-loader span:nth-child(2) {
        animation-delay: -0.16s;
    }
    
    @keyframes dot-pulse {
        0%, 100% {
            transform: scale(0.6);
            opacity: 0.4;
          }
          50% {
            transform: scale(1);
            opacity: 1;
          }
    }
}

.dart-order{
	background: rgba(0, 0, 0, 0);
	pointer-events: none;
	position: fixed;
	z-index: 25;
	width: 100%;
	height: 100dvh;
	transition: all 0.3s;
    top: 0;

	// &__content{
	// 	height: 100dvh;
	// 	background: #FFF;
	// 	position: fixed;
	// 	z-index: 2;
	// 	transition: all 0.7s;
	// 	right: 0%;
	// 	width: 1200px;
	// 	transform: translate(100%);
	// 	padding: 32px;
	// 	display: flex;
	// 	align-items: flex-start;
	// 	flex-direction: column;
	// }

	// &__title{
	// 	display: flex;
	// 	align-items: center;
	// 	width: 100%;
	// 	justify-content: space-between;
	// 	margin-bottom: 20px;

	// 	.h1-mini{
	// 		margin: 0;
	// 	}
	// }

	// &__container{
	// 	display: flex;
	// 	width: 100%;
	// 	gap: 32px;
	// 	height: -webkit-fill-available;
	// 	// padding-bottom: 60px;
	// }

	// &__left{
	// 	width: 50%;
	// 	overflow-y: auto;
		
	// 	display: flex;
	// 	flex-direction: column;
	// 	gap: 20px;
	// 	padding-right: 3px;

	// 	&::-webkit-scrollbar {
	// 		width: 8px;
	// 		background-color: #e0e0e0; /* blue */
	//    	}

	//    &::-webkit-scrollbar-thumb {
	// 		background-color: #b4b4b4; /* green */
	// 		border-radius: 9em;
	//    }
	// }

	// &__right{
	// // 	width: 50%;
	// // 	position: relative;

	// 	form{
	// 		height: calc(100% - 266px); //333 - bonus
	// 		overflow-y: auto;

	// 		&::-webkit-scrollbar {
	// 			width: 8px;
	// 			background-color: #e0e0e0; /* blue */
	// 		   }
	
	// 	   &::-webkit-scrollbar-thumb {
	// 			background-color: #b4b4b4; /* green */
	// 			border-radius: 9em;
	// 	   }
	// 	}
	// }

	// &__el{
	// 	border-radius: 5px;
	// 	border: 1px solid #E2E2E2;
	// 	padding: 20px;
	// }

	// &__el + &__el{
	// 	margin-top: 20px;
	// }

	// &__info{
	// 	display: flex;
	// 	align-items: center;
	// 	gap: 8px;

	// 	img{
	// 		width: 40px;
	// 		height: 40px !important;
	// 		object-fit: contain;
	// 		border: 1px solid #E2E2E2;
	// 		border-radius: 50%;
	// 	}

	// 	&-mt{
	// 		margin-top: 20px;
	// 		margin-bottom: 16px;
	// 	}
	// }

	// &.show{
	// 	pointer-events: all;
	// 	background: rgba(0, 0, 0, 0.50);
	// 	.dart-order__content{
	// 		transform: translate(0%);
	// 		right: 0%;
	// 	}
	// }

	// &__date{
	// 	position: relative;
	// 	margin-top: 16px;

	// 	.dart-btn-radio-mini{
	// 		padding: 8px 12px;

	// 		label{
	// 			white-space: nowrap;
	// 			display: flex;
	// 			flex-direction: column;
	// 			align-items: center;
	// 		}
	// 	}
	// }
	

	// &__delivery-methods{
	// 	display: flex;
	// 	flex-wrap: wrap;
	// 	gap: 8px;
    //     margin-bottom: 20px;

	// 	.dart-btn-radio-mini{
	// 		width: calc(50% - 4px);

	// 		label{
	// 			width: 100%;
	// 			padding: 16px 12px !important;
	// 		}

	// 		p{
	// 			text-align: left;
	// 		}
	// 	}

	// 	.dart-btn-radio-mini input:checked + label .dart-order__delivery-title{
	// 		color: #fff;
	// 	}
	// }

	// &__time-price{
	// 	p{
	// 		color: #ACABAB;
	// 		font-size: 14px;
	// 		line-height: 1;
	// 	}
	// }

	// &__delivery-title{
	// 	margin-bottom: 28px;
	// }

	// &__oplata{
	// 	margin-top: 6px;
	// 	padding-top: 12px;
	// 	border-top: 1px solid #E2E2E2;
	// 	position: absolute;
	// 	width: 100%;
	// 	bottom: 0px;
	// 	background: #FFF;

	// 	&::before{
	// 		pointer-events: none;
	// 		content: "";
	// 		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #FFF 87.24%);
	// 		width: 100%;
	// 		height: 20px;
	// 		position: absolute;
	// 		top: -19px;
	// 	}
	// }

	// &__info-oplata{
	// 	display: flex;
	// 	flex-direction: column;
	// 	gap: 12px;
	// 	margin-bottom: 16px;
	// }

	// &__list{
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: space-between;
	// }

	// &__promo-button{
	// 	opacity: 0;
	// 	pointer-events: none;
	// 	position: absolute;
	// 	top: 50%;
	// 	right: 8px;
	// 	transform: translate(0, -50%);
	// 	transition: all 0.4s;
	// }
	

	// &__promo{
	// 	position: relative;

	// 	&.active{
	// 		.dart-order{
	// 			&__promo-button{
	// 				opacity: 1;
	// 				pointer-events: all;
	// 			}
	// 		}
	// 	}

	// 	.dart-input-text{
	// 		position: relative;
			

	// 		&::before{
	// 			content: "";
    //             background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%238FFF00'%3E%3Cpath d='M9 18.17L3.83 13l-1.42 1.41L9 21 21.41 8.59 20 7.17z' stroke='%238FFF00' stroke-width='0.5'/%3E%3C/svg%3E");
    //             background-repeat: no-repeat;
    //             background-position: center;
    //             width: 24px;
    //             height: 24px;
    //             position: absolute;
    //             transform: translate(0, -50%);
    //             top: 50%;
    //             left: 12px;
    //             pointer-events: none;
    //             opacity: 0;
	// 		}
	// 	}

	// 	&.apply{
	// 		input[name=promocode]{
	// 			padding-left: 40px;
	// 		}

	// 		.dart-input-text{
	// 			&::before{
    //                 opacity: 1;
	// 				color: #8FFF00;
	// 				pointer-events: all;
	// 			}
	// 		}
	// 	}
	// }

	// &__express{
	// 	display: none;
	// }

	// &__courier{
	// 	display: none;
	// }

	// &__tk{
	// 	display: none;
	// }

	// &__inputs-container{
	// 	overflow-y: auto;
	// 	margin-top: 20px;
	// 	width: 100%;
	// 	display: flex;
	// 	flex-direction: column;
	// 	// height: calc(100% - 465px);
	// 	padding-bottom: 20px;
	// 	padding-right: 8px;

	// 	&::-webkit-scrollbar {
	// 		width: 8px;
	// 		background-color: #e0e0e0; /* blue */
	//    	}

	//    &::-webkit-scrollbar-thumb {
	// 		background-color: #b4b4b4; /* green */
	// 		border-radius: 9em;
	//    }

	// 	&.express{
	// 		.dart-order__express{
	// 			display: block;
	// 		}
	// 	}

	// 	&.courier{
	// 		.dart-order{
	// 			&__express{
	// 				display: block;
	// 			}

	// 			&__courier{
	// 				display: block;
	// 			}
	// 		}
	// 	}

	// 	&.receivingPoint{
	// 		.dart-order__tk{
	// 			display: block;
	// 		}
	// 	}
	// }
}

.h1-mini {
    display: block;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 20px;
}

h3, .h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #282828;
}

.dart-shop-address {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.dart-procuct-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
}

.dart-procuct-cart{
	display: flex;
	gap: 8px;

	&__img{
		width: 108px;
		object-fit: cover;
	}

	&__title{
		display: flex;

		p{
			width: calc(100% - 24px);
			line-height: 1.2;
		}

		a:not(.btn-close){
			width: calc(100% - 24px);
			line-height: 1.2;
		}
	}

	&__article{
		color: #ACABAB;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		margin: 8px 0 12px 0;
	}

	&__count{
		display: flex;
		align-items: center;
		gap: 6px;

		p{
			color: #ACABAB;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 1;
			margin-bottom: 8px;

			span{
				color: #282828;
			}
		}
	}

	&__price{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__info{
		width: calc(100% - 108px);

		a{
			text-decoration: none;
			line-height: 1.2;
		}
	}
}

* + .dart-procuct-cart{
	padding-top: 16px;
	border-top: 1px solid #E2E2E2;
	margin-top: 16px
}

.order-product-bonus {
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 12px;
    padding: 4px;
    background: #F8F7F5;
    width: fit-content;
    border-radius: 4px;
}

.dart-btn-radio-mini{
    padding: 0 !important;
    input{
        display: none;
    }

    label{
        background-color: #F8F7F5;
        color: #282828;
        cursor: pointer;
        font-size: 14px;
        padding: 8px 16px;
        border-radius: 5px;
        transition: all 0.3s;

        &:hover{
            background-color: #282828;
            color: #FFF !important;
        }
    }

    input:checked + label{
        background-color: #282828;
    } 
}

.dart-input-text input {
    padding: 16px 12px;
    border: 1px solid transparent;
}

.dart-input input {
    outline: none;
    border-radius: 5px;
    background: #F8F7F5;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #282828;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    width: 100%;
}

.mt-2{
    margin-top: 8px;
}
.mt-3{
    margin-top: 1.5rem;
}

.dart-input-text input:focus {
    border: 1px solid #E2E2E2;
}

.dart-order__inputs-container {
    overflow-y: auto;
    margin-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 20px;
    padding-right: 8px;
}

.kenost-error input{
    border-color: var(--primary-color);
}

.error-message {
    color: var(--primary-color);
    font-size: 12px;
    display: block;
    margin-top: 4px;
}



.dart-order__list-border{
	padding: 12px 0;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
}

.dart-order__list-bonus{
	gap: 3px;
    display: flex;
    border-radius: 19px;
    background: #FFF;
	box-shadow: 0px 0px 12px 0px rgb(51 51 51 / 22%);
    padding: 2px 4px;
}

.dart-order__list b {
    color: #282828;
    font-size: 14px;
    font-weight: 500;
}

.dart-cheackbox-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #282828;
    gap: 8px;
}

.dart-cheackbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    cursor: pointer;
}

.dart-cheackbox + label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    width: 100%;
}

.dart-cheackbox + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 2px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.dart-btn-secondary-mini {
    font-size: 14px;
    padding: 8px 16px;
    background: #FFF;
    color: #282828;
    border: 1px solid #E2E2E2;
}

.dart-btn-secondary-mini:hover {
    background: rgba(0, 0, 0, 0.03);
    color: #282828;
}

.order-product-bonus img {
    width: 10px;
}

h3 + *, .h3 + * {
    margin-top: 8px;
}

.dart-btn-choice {
    background: var(--btn-secondary-outline-background);
    justify-content: space-between;

    p {
        color: var(--text-color-dop);
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
    }

    i {
        color: var(--secondary-color);
        font-size: 24px;
    }

    &:hover {
        background: var(--btn-secondary-outline-hover);
    }
}

.points{
    background: rgba(0, 0, 0, 0);
	pointer-events: none;
	position: fixed;
	z-index: 25;
	width: 100%;
	height: 100dvh;
	transition: all 0.3s;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.show{
		pointer-events: all;
		background: rgba(0, 0, 0, 0.50);
		.points__content{
			transform: translate(0%);
			right: 0%;
            opacity: 1;
            pointer-events: all;
		}
	}

    &__content{
        max-width: 950px;
        background: #FFF;
        width: 100%;
        max-height: calc(100vh - 160px);
        border-radius: 12px;
        opacity: 0;
        pointer-events: none;
        padding: 32px;
    }
}

.text-black{
    color: #282828 !important;
}

.address{
    background: rgba(0, 0, 0, 0);
	pointer-events: none;
	position: fixed;
	z-index: 25;
	width: 100%;
	height: 100dvh;
	transition: all 0.3s;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.show{
		pointer-events: all;
		background: rgba(0, 0, 0, 0.50);
		.address__content{
			transform: translate(0%);
			right: 0%;
            opacity: 1;
            pointer-events: all;
		}
	}

    &__content{
        max-width: 650px;
        background: #FFF;
        width: 100%;
        max-height: calc(100vh - 160px);
        border-radius: 12px;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;

        &-scroll{
            overflow-y: auto;
            max-height: calc(100vh - 160px);
            padding: 32px;
        }
    }
}


.addressEdit{
    background: rgba(0, 0, 0, 0);
	pointer-events: none;
	position: fixed;
	z-index: 27;
	width: 100%;
	height: 100dvh;
	transition: all 0.3s;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.show{
		pointer-events: all;
		background: rgba(0, 0, 0, 0.50);
		.addressEdit__content{
			transform: translate(0%);
			right: 0%;
            opacity: 1;
            pointer-events: all;
		}
	}

    &__content{
        max-width: 900px;
        background: #FFF;
        width: 100%;
        max-height: calc(100vh - 160px);
        border-radius: 12px;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
    }
}

.kenost-skeleton {
    background: linear-gradient(90deg, #eeeeee 25%, #dddddd 37%, #eeeeee 63%);
    background-size: 400% 100%;
    animation: skeleton-loading 1.2s ease-in-out infinite;
    border-radius: 8px;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  
  .kenost-skeleton__image {
    width: 48px;
    height: 32px;
  }
  
  .kenost-skeleton__name {
    height: 16px;
    width: 120px;
    margin: 4px 0;
  }
  
  .kenost-skeleton__price {
    height: 14px;
    width: 80px;
  }

.kenost-courier-delivery{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &__card{
        margin: 1px;
        border: none;
        width: max-content;
        height: auto;
        position: relative;
        background-color: #f2f1f0;
        border-radius: 16px;
        padding: 12px 36px 12px 16px;
        position: relative;
        cursor: pointer;
        transition: all 0.3s;
        text-align: left;

        &.active{
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 1), inset 0 0 0 1px rgba(0, 0, 0, 1);
        }

        &:disabled{
            opacity: 0.6;
            cursor: not-allowed;
        }
    }

    &__image{
        height: 30px !important;
    }
    
    // &__best{
    //     color: #F00;
    // }

    &__old-price{
        text-decoration: line-through;
    }

    &__primary{
        font-size: 13px;
        color: rgb(0, 179, 83);
    }

    &__name{
        line-height: 16px;
        font-size: 13px;
    }

    &__info{
        display: flex;
        font-size: 13px;
        gap: 4px;
    }

    &__price{
        font-weight: 500;
    }

    &__time{
        font-weight: 500;
    }

    &__icon{
        position: absolute;
        top: 10px;
        right: 10px;
    }
}